.about-container {
    position:relative;
    height:65vh;
    width:100%;
    padding: 20px 50px 10px 40px;
    display:flex;
    flex-wrap: wrap; 
    /* gap:10px;  */
     
}

.about-container::before{
    content: '';
    background-image:url(../images/map.jpeg);
    background-size: cover;
    position:absolute;
    opacity: 0.1;
    top:0px;
    right:0px;
    height: 100%;
    width: 100%;

}
  
.about-text {
    width:65%;
    position:relative;
    z-index: 1;

    
}


.about-container h1{
    color:black;
    font-size:20px;
    font-weight: 600;
    padding:10px 0 5px 0; 
    position:relative; 
    margin-bottom: 20px; 
}


/* for underline under H1 */
.about-container h1:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #000000;
}

.about-container h3{
    color:black;
    font-size:15px;
    font-weight: 600;
    padding:10px 0 10px 0;
    margin-bottom: 20px;   
}

.about-container p{
    color:black;
    font-size:14px;
    font-weight: 500;
    padding:5px 0 10px 0;
    width:100%;
    letter-spacing: 1px;
   line-height: 20.11px;

   
    
}
/* .about-img{
    width:100%;
    height:100%;
    margin-bottom: 20px;
    margin: 10px;
  
} */
.about-container img {
    height:60vh;
    width:30vw;
    padding:10px;
    object-fit: cover; 
    position:relative;
    z-index: 1;


}

button.about-btn {
    background:linear-gradient(to left,#c471f5 0%, #fa71cd 100%);
    border-radius: 3em;
    border:0 solid ;
    font-size: 15px;
    font-weight: 600; 
    padding: 10px;
    margin: 10px 0 10px -5px;
    color:#ffff;
    cursor: pointer;
}

@media (max-width: 900px) {

}


@media only screen and (max-width: 768px) {
        .about-container {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
    }

    .about-container img {
        height: 70vh;
        width: 60vw;
    }

    .about-container p{
        padding:5px 5px 10px 0;

       
        
    }
}