@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');


body {
  background: #fff;
  color: #fff;
    min-height: 100vh;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    /* padding-left:20px ;
    padding-right:20px ; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}